html, body {
    background: #3b4652;
    color: #88919b;
    font: 400 13px/1.62em "Avenir Next", Avenir, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    padding: 10px;
}

section, aside {
    max-width: 29.08em;
    margin: 0 auto;
}

section {
    overflow: hidden;
    padding: 1.62em 2.42em 3.23em;
}

section.elsewhere {
    max-width: 33.92em;
    padding: 1.62em 0;
}

aside {
    margin-top: 1.62em;
    padding: 0 2.42em;
}

strong {
    font-weight: normal;
}

h1, h2, footer {
    font-size: 0.85em;
    line-height: 1.91em;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    font-weight: bold;
}

h1, h2 {
    clear: both;
    margin: 3.23em auto 1.62em;
}

aside h2 {
    margin-top: 0;
}

.elsewhere h2 {
    padding: 0 2.86em;
}

ul, header {
    margin: 0 auto 1.62em;
}

p {
    margin: 0;
}

footer {
    display: block;
    margin: 0.81em 0 0;
}

header {
    padding: 1.62em 0 0.81em;
    color: #dc281e !important;
}

header h1 {
    display: inline;
}

header:before {
    left: -2.42em;
}

header:after {
    right: -2.42em;
}

header {
    position: relative;
}

header:before, header:after {
    position: absolute;
    top: 2.1em;
    display: block;
    width: 0;
    height: 0;
    background: #dc281e;
    content: "";
    overflow: hidden;
    border: 0.31em solid #dc281e;
    -webkit-transition: border-color 0.4s;
    transition: border-color 0.4s;
}

header:hover:before {
    border-right-color: #fff;
}

header:hover:after {
    border-left-color: #fff;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #acb5bd;
}

a:focus, a:hover {
    color: #dae3ec;
}

a:active {
    color: #dc281e;
}

.card .back {
    background: #f7f7f5;
    color: #6b6b6b;
    margin: 0 auto;
}

.card a, .card a:link, .card a:visited {
    color: #627d98;
}

.card a:focus, .card a:hover, .card a:active {
    color: #dc281e;
}

.adr {
    display: block;
    margin: 0 auto 1.62em;
}

.type {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    width: 4em;
}

ul {
    position: relative;
    margin: 0 0 1.62em;
    padding: 0 0 1px;
    list-style: none;
}

ul:before, ul:after {
    content: " ";
    display: table;
}

ul:after {
    clear: both;
}

ul li {
    margin: 0 0 -1px;
    padding: 1px 0;
    border-top: 1px solid #4a5867;
    border-bottom: 1px solid #4a5867;
}

ul a {
    display: block;
    padding: 0.62em 2.42em 0.54em;
}

.s {
    margin: 0 -1% 0;
}

.s li {
    float: left;
    width: 48%;
    margin: 0 1% -1px;
}

.l a, .l a:link, .l a:visited {
    color: #88919b;
}

.l a strong, .l a:focus, .l a:hover {
    color: #acb5bd;
}

.l a:focus strong, .l a:hover strong {
    color: #dae3ec;
}

.l a:active, .l a:active strong {
    color: #dc281e;
}

.card .front {
    display: none;
}

aside .toggle {
    display: none;
}

.browsehappy {
    text-align: center;
}

@media all and (min-width: 640px) {
    section {
        padding: 1.62em 4.04em 3.23em;
    }

    section.elsewhere {
        max-width: 37.15385em;
    }

    section.elsewhere h2 {
        padding: 0 4.77em;
    }

    aside {
        padding: 0 4.04em;
    }

    ul a {
        padding: 0.15em 4.04em 0.08em;
    }

    .adr {
        width: 50%;
        float: left;
    }

    .card {
        position: relative;
        width: 37.15em;
        height: 17.77em;
        margin: 0 auto;

        -webkit-transition: height 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045), margin-top 0.5s;
        transition: height 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045), margin-top 0.5s;

        -webkit-animation: wiggle 10s infinite;
        animation: wiggle 10s infinite;
    }

    .card.flip {
        height: 330px;
        margin-top: 10vh;
        -webkit-transition: height 0.65s cubic-bezier(0.175, 0.885, 0.32, 1.275), margin-top 0.65s;
        transition: height 0.65s cubic-bezier(0.175, 0.885, 0.32, 1.275), margin-top 0.65s;
        -webkit-animation: none;
        animation: none;
    }

    .card .front {
        display: block;
        width: 100%;
        height: 17.77em;
        background: #f7f7f5;
        color: #6b6b6b;
    }

    .front:before, .front:after {
        top: 11.23em;
    }

    .front:before {
        left: 0;
    }

    .front:after {
        right: 0;
    }

    header:before {
        left: -4.04em;
    }

    header:after {
        right: -4.04em;
    }

    header, .front {
        cursor: pointer;
    }

    .card {
        margin-top: 150px;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-perspective: 3000;
        perspective: 3000;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .card .front, .card .back {
        position: absolute;
        overflow: hidden;
        height: 13em;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: -webkit-transform 1s ease;
        transition: -webkit-transform 1s ease;
        -webkit-transition: -moz-transform 1s ease;
        -webkit-transition: transform 1s ease;
        transition: transform 1s ease;
        transition: transform 1s ease, -webkit-transform 1s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;

        -webkit-transition-property: height, -webkit-transform;

        transition-property: height, -webkit-transform;

        transition-property: height, transform;

        transition-property: height, transform, -webkit-transform;
    }

    .card .front h1 {
        margin: 0;
        display: block;
        line-height: 6em;
        text-align: center;
        font-size: 2em;
    }

    .flip .front {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .back {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .flip .back, .front {
        height: 267px;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    aside {
        position: relative;
    }

    aside .inner {
        opacity: 0;
        -webkit-transition: opacity 0.5s 0s ease;
        transition: opacity 0.5s 0s ease;
    }

    .toggle {
        position: absolute;
        cursor: pointer;
        left: 0;
        right: 1.6154em;
        z-index: 1;
        -webkit-user-select: none;
    }

    .toggle i {
        position: relative;
        left: 50%;
        display: block;
        width: 1.05em;
        margin: 0 0 0 -1.05em;
        padding: 0 1.05em;
        font: 700 italic 1.54em/1.05em Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
        text-align: center;
        -webkit-transition: left 0.5s 0.3s ease;
        transition: left 0.5s 0.3s ease;
    }

    .toggle:hover+.inner h2, .toggle:hover i {
        color: #fff;
    }

    .show .toggle i {
        left: 1.31em;
        -webkit-transition: left 0.5s 0s ease;
        transition: left 0.5s 0s ease;
    }

    .show .inner {
        opacity: 1.0;
        -webkit-transition: opacity 0.5s 0.3s ease;
        transition: opacity 0.5s 0.3s ease;
    }

    #about .toggle {
        display: block;
    }
}

@-webkit-keyframes wiggle {
    0%, 48%, 52%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg)
    }
}

@keyframes wiggle {
    0%, 48%, 52%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg)
    }
}
